@import "variables";

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}

button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

img {
  -webkit-user-select:none;
  user-select:none;
  pointer-events:none
}

.modal {
  padding-bottom: 50px;
}

.main {
  position: relative;
  &-sending::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 5000;
  }
}

.hidden {
  display: none;
}

@import "./blocks/header.scss";
@import "./blocks/promo.scss";
@import "./blocks/services.scss";
@import "./blocks/marketing.scss";
@import "./blocks/profits.scss";
@import "./blocks/proposal.scss";
@import "./blocks/modal.scss";
@import "./blocks/loader.scss";