.cases {
  background-image: linear-gradient(0deg,#1e01d3,#009eee);
  padding: 100px 0 110px;
  border-radius: 0 150px 0 0;
  &-header {
    text-align: center;
    font-size: 50px;
    color: #FFF;
  }
  &-table {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    margin-top: 40px;
    &-img {
      width: calc(33% - 20px);
      border-radius: 40px;
    }
  }
}