.clients {
  padding: 80px 0 0 0;
  &-header {
    font-size: 50px;
    text-align: center;
    color: $blue-dark;
  }
  .swiper {
    margin-top: 60px;
    width: 80%;
    &-slide {
      height: 160px;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}