.footer {
  background-color: $blue-dark;
  color: #FFF;
  .wrapper {
    display: flex;
    justify-content: space-around;
    padding: 60px 0 20px 0;
  }
  &-descr {
    &-name {
      font-size: 24px;
      font-weight: 700;
    }
    p {
      margin-top: 25px;
    }
    &-img {
      height: 40%;
    }
  }
  &-table {
    &-header {
      font-size: 24px;
      font-weight: 700;
    }
    &-item {
      margin-top: 15px;
      &-phone {
        color: #FFF;
        text-decoration: none;
        transition: color 0.2s;
        &:hover {
          color: #009eee;
        }
      }
    }
  }
}